.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

/* .scrollSider {
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
} */

.fixHeightSider {
  height: 730px;
}

.scrollEditor {
  height: 150px;
  overflow: auto;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  background: url("./layoutStyle/images/logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 50px;
  margin: 16px;
}
